
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-home-1:before { content: '\e802'; } /* '' */
.icon-logo-db:before { content: '\e803'; } /* '' */
.icon-fighter-jet:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-gauge:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-heart-filled:before { content: '\e809'; } /* '' */
.icon-th-outline:before { content: '\e80a'; } /* '' */
.icon-th:before { content: '\e80b'; } /* '' */
.icon-th-large-outline:before { content: '\e80c'; } /* '' */
.icon-eq-outline:before { content: '\e80d'; } /* '' */
.icon-eq:before { content: '\e80e'; } /* '' */
.icon-info-outline:before { content: '\e80f'; } /* '' */
.icon-globe:before { content: '\e810'; } /* '' */
.icon-plane-outline:before { content: '\e811'; } /* '' */
.icon-share:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-chart-bar:before { content: '\e814'; } /* '' */
.icon-users-outline:before { content: '\e815'; } /* '' */
.icon-users-1:before { content: '\e816'; } /* '' */
.icon-rocket:before { content: '\e817'; } /* '' */
.icon-map:before { content: '\e818'; } /* '' */
.icon-basket:before { content: '\e819'; } /* '' */
.icon-basket-1:before { content: '\e81a'; } /* '' */
.icon-flow-cross:before { content: '\e81b'; } /* '' */
.icon-lightbulb:before { content: '\e81c'; } /* '' */
.icon-th-1:before { content: '\e81d'; } /* '' */
.icon-mail-1:before { content: '\e81e'; } /* '' */
.icon-phone-circled:before { content: '\e81f'; } /* '' */